## PROBLEM SET 2

## Question 1:What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [7]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [8]:
b()  
#Here, when first time b() is called, the value of a is updated to 2.
# Explanation:1. Here, in first step, the value of 'a' is read as 0. 
#2.In second step, c(a) is called with a=0 and c(a) returns 2
#3.In third step,the value of a gets updated to 2 which is the return value of c(0)

b()
#Here, when first time b() is called, the value of a is updated to 4.
# Explanation:1 Here, in first step, the value of 'a' is read as 2. 
# 2.In second step, c(a) is called with a=2 and c(a) returns 4
# 3.In third step,the value of a gets updated to 4 which is the return value of c(2)

b()
#Here, when first time b() is called, the value of a is updated to 6.
# Explanation:1 Here, in first step, the value of 'a' is read as 4. 
# 2.In second step, c(a) is called with a=4 and c(a) returns 6
# 3.In third step,the value of a gets updated to 6 which is the return value of c(4)

a
#Output-> 6

6

## Question 2:Modify function fileLength() so that a friendly message is printed instead.

In [5]:
def fileLength(file_name):
    try:
        infile=open(file_name)
        data=infile.read()
        length=len(data)
        infile.close()
        print(length)
        
    except FileNotFoundError:                     #If 'fileNotFoundError' is there, then this exception works
        print("File {} not found.".format(file_name))

In [6]:
fileLength('words.txt')           #When the file is present

5345

In [7]:
fileLength('jeji.txt')           #When no file of the given name is present.

File jeji.txt not found.

## Question 3

In [14]:
class Marsupial:

    def __init__(self):
        self.pouch=[]
    def put_in_pouch(self,article):
        self.pouch.append(article)
    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
        
    def jump(self, dx, dy):
        self.x=self.x+dx
        self.y=self.y+dy
        
    def __str__(self):
        return "I am a Kangaroo located at coordinates ("+str(self.x)+","+str(self.y)+")"

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
Article_marsupial=m.pouch_contents()
print(Article_marsupial)

k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
Article_kangaroo=k.pouch_contents()
print(Article_kangaroo)

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4:

In [71]:
def collatz(x):
    
    if x==1:                           #Base condition
        return [1]
    elif x%2==0:
        return [x] + collatz(x//2)
    else:
        return [x] + collatz(3*x + 1)

In [72]:
ANS1=collatz(1)
print(*ANS1,sep = "\n")

1

In [73]:
ANS2=collatz(10)
print(*ANS2,sep = "\n")

10
5
16
8
4
2
1

## Question 5:Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [19]:
def binary(n):
    if n<2:                           #Base condition where we are checking whether n is less than 2.
        print(n, end="")
    
    else:
        binary(n//2)
        print(n%2, end="")

In [20]:
binary(0)

0

In [21]:
binary(1)

1

In [22]:
binary(3)

11

In [23]:
binary(9)

1001

## Question 6:

In [18]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    Headers = ["h1", "h2"]
    current = -1

    def handle_starttag(self, tag, attrs):      
        if tag in HeadingParser.Headers:         
            HeadingParser.current = HeadingParser.Headers.index(tag)
    
    def handle_endtag(self, tag):                
        if tag == HeadingParser.Headers[HeadingParser.current]:          
            HeadingParser.current = -1
            
    def handle_data(self, data):
        if HeadingParser.current >= 0:
            print(" " * HeadingParser.current + data)

In [19]:
infile = open("C:/Users/harja/Documents/Untitled Folder/w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

## Question 7:

In [63]:
from urllib.request import urlopen
from urllib.parse import urlparse
from urllib.parse import urljoin
from html.parser import HTMLParser

class LinkParser(HTMLParser):
    
    def __init__(self, url):
                                            #here, we are initializing parser, the url and the list.
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
                                              #Search for href attribute
            for attr, value in attrs:
                if attr == 'href':
                    url1 = urljoin(self.url, value)
                    self.links.append(url1)

def webdir(url, depth, indent):
    if depth == 0:                            #Base condition for the recursive function
        return

    
    print(" " * indent + url)                 #Printing the current URL with the indentation

    try:
        response = urlopen(url)
    except:
        return

    if not response.getheader("Content-Type").startswith("text/html"):   #Checking whether the response header for URL that was fetched starts with the string "text/html"
        return

    html = response.read()         #Obtaining links in the web-page
    html = response.decode()
    parser = LinkParser(url)
    parser.feed(html)
    links = parser.links
    
    for link in links:
        webdir(link, depth-1, indent+1)

In [68]:
webdir("http://reed.cs.depaul.edu/lperkovic/csc242/test1.html", 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

## Question 8: Write SQL queries on the below database table that return:

In [22]:
# Creating a table named 'infotable' using requisite syntax and using all the data provided to create table cityInfo

import sqlite3
con = sqlite3.connect('infotable.db')
cur = con.cursor()
cur.execute("CREATE TABLE infotable (City text, Country text, Season text, Temperature double, Rainfall double)")
cur.execute("INSERT INTO infotable VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO infotable VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO infotable VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

# Selcting all the data from the cityInfo table 
cur.execute('SELECT * FROM infotable')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [23]:
# (a)All the temperature data.
cur.execute('SELECT Temperature FROM infotable')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [24]:
# (b)All the cities, but without repetition.
cur.execute('SELECT DISTINCT(City) FROM infotable')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [25]:
# (c)All the records for India.
cur.execute('SELECT * FROM infotable where Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [26]:
# (d)All the Fall records.
cur.execute('SELECT * FROM infotable where Season = "Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [27]:
# (e)The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cur.execute('SELECT City, Country, Season, AVG(Rainfall) FROM infotable GROUP BY City, Country, Season HAVING AVG(Rainfall) >= 200 and AVG(Rainfall) <= 400')
cur.fetchall()

[('London', 'United Kindom', 'Fall', 218.5),
 ('London', 'United Kindom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

In [28]:
# (f)The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cur.execute('SELECT City, Country, AVG(Temperature) FROM infotable where Temperature > 20 GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER By Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

In [29]:
# (g) The total annual rainfall for Cairo.
cur.execute('SELECT SUM(Rainfall) FROM infotable WHERE City = "Cairo"')
cur.fetchall()

[(27.6,)]

In [30]:
# (h) The total rainfall for each season.
cur.execute('SELECT Season, SUM(Rainfall) FROM infotable GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

## Question 9:Suppose list words is defined as follows:
## >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
## Write list comprehension expressions that use list words and generate the following lists:

In [31]:
# (a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
Upper_case = [elements.upper() for elements in words]
print (Upper_case)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [32]:
# (b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Lower_case = [elements.lower() for elements in words]
print(Lower_case)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [33]:
# (c)[3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
Length_Words = [len(elements) for elements in words]
print(Length_Words)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [34]:
# (d)[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
Answer = [[elements.upper(),elements.lower(),len(elements)] for elements in words]
print(Answer)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [35]:
# (e)['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)
Ans = [elements for elements in words if len(elements)>=4]
print(Ans)

['quick', 'brown', 'jumps', 'over', 'lazy']